.smw-breadcrumb{
    display: inline-flex;
    padding: 16px 0px;
    align-items: center;
    gap: 8px;
    background-color: $white-color-3;
    .smw-icon-dot{
        font-size: 5px;
    }
    .smw-icon-home{
        &::before{
            color: $primary-color-1;
        }
    }
    &-link{
        border: 1px solid transparent;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        color: $primary-color-1;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -0.01px;
        text-transform: uppercase;
    }
    &-text{
        line-height: 1;
    }
    &.primary{
        background-color: $primary-color-2;
        .smw-icon-home{
            &::before{
                color: $white-color-1;
                position: relative;
                top: -1px;
                font-size: 18px;
            }
        }
        .smw-breadcrumb-link{
            color: $white-color-1;
        }
    }
}