/*********************************
*   Card
**********************************/
.caseCardSection{
    .smw-row{
        @include dynamic-gap(22px);    
    }
    @include media-breakpoint-down(md) { 
        margin-bottom: 40px;
    }
}
.casesCard{
    padding: 32px;
    border: 1px solid $primary-color-1;
    border-radius: 24px;
    position: relative;
    margin-top: 21px;
    text-decoration: none;
    &__imgWrap{
        display: inline-block;
        width: 52px;
        height: 52px;
        position: absolute;
        right: 30px;
        top: -22px;
    }
    &__date{
        color: $white-color-1;

        /* Paragraph Text Small */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.014px;
    }
    &__title{
        color: $primary-color-1;

        /* H3 */
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 118.182% */
        letter-spacing: -0.22px;
        margin-bottom: 6px;
    }
    &__content{
        color: $white-color-1;

        /* Paragraph Text Small */
        font-family: $primary-font-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.014px;
    }
    .link__insight{
        transition: all 0.3s ease-out; 
    }
    &:hover{
        background-color: $white-color-3;
        .link__insight{
            gap: 16px;
        }
    }
    &.with-white-text{
        .p__xsmall, .smw-icon-calendar::before,
        .casesCard__title, .p__small, p{
            color: $white-color-1;
        }
        &:hover{
            background-color: transparent;
        }
    }
}