/*********************************
*   Thank you Success
**********************************/

.smw-thankyou-success{
    max-width: 406px;
    background: $white-color-1;
    border-radius: 24px;
    &-title{
        font-size: 30px;
        line-height: 34px;
    }
}