.accordian {
    padding: 88px 0;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: $white-color-4;

    &__title {
        color: $primary-color-1;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: -0.3px;
        margin-bottom: 32px;

        @include media-breakpoint-down(md) {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.26px;
        }
    }

    .accordion {
        --bs-accordion-bg: $white-color-4;

        .accordion-item {
            border: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-bottom: 1px solid $secondary-color-1;

            .accordion-header {

                .accordion-button {
                    color: $primary-color-1;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: -0.22px;
                    padding: 16px 0;

                    @include media-breakpoint-down(md) {
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: -0.18px;
                    }

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }

                    &:not(.collapsed) {
                        background-color: transparent;
                        box-shadow: none;
                        // transform: rotate(-90deg);
                    }

                    &.collapsed {
                        .smw-icon-right-arrow {
                            transform: rotate(0deg);
                            font-size: 22px;
                        }
                    }

                    /* Hide BS After Icon*/
                    &::after {
                        display: none;
                    }

                    .smw-icon-right-arrow {
                        transform: rotate(-90deg);

                        &::before {
                            transition: all 0.3s ease-out;
                            font-size: 22px;
                        }
                    }
                }
            }

            .accordion-body {
                color: $primary-color-3;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.016px;
                padding: 0;
            }

            .accordian-footer {
                padding: 16px 0;

                .smw-btn-text {
                    padding: 16px 0;
                    color: $secondary-color-1;
                    // background-color: $white;
                    background: transparent;

                    .smw-icon-right-arrow {

                        &::before {
                            color: $secondary-color-1;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}