/********************************
*   Masthead Internal pages
*********************************/

.banner{
    height: 362px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    /* Banner bottom curve*/
    &.substract{
        &:before{
            content:'';
            position: absolute;
            height: 57px;
            width: 100%;
            left: 0px;
            bottom: -2px;
            background: url('./../images/substract.svg') center 100% no-repeat;
            background-size: 100%;
            @include media-breakpoint-up(xxl) {
                background-size: cover;
                height: 80px;
            }
        }
    }
} 

.rectangle{
    padding-top: 70px;
    position: relative;
    min-height: 212px;
    @include media-breakpoint-down(md) {
        padding-top: 43px;
    }
    &::before{
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 212px;
        position: absolute;
        z-index: -1;
        background-color: $primary-color-2;
    }
    &__title{
        @include media-breakpoint-down(md) {
            font-size: 32px; 
        }
    }
    &.with-bottom-curve{
        &::after{
            content:'';
            position: absolute;
            height: 57px;
            width: 100%;
            left: 0px;
            bottom: -56px;
            background: url('./../images/curve-primary-bottom.svg') center 0% no-repeat;
            background-size: 100%;
            z-index: -1;
            @include media-breakpoint-up(xxl) {
                background-size: cover;
                height: 80px;
            }
        }
        
    }
}

/* Breadcrumb bottom curve */
.breadcrumb-curve{
    position: relative;
    &:before{
        content:'';
        position: absolute;
        height: 57px;
        width: 100%;
        left: 0px;
        bottom: -57px;
        background: url('./../images/curve-primary-bottom.svg') center 0% no-repeat;
        background-size: 100%;
        z-index: 1;
        @include media-breakpoint-up(vxl) {
            background-size: cover;
            height: 80px;
            bottom: -80px;
        }
        @include media-breakpoint-down(md) {
            background: url('./../images/breadcrumb-primary-mobile-curve.svg') 0% 100% no-repeat;
            background-size: 100%;
            bottom: -46px;
            height: 47px;
        }
    }
}