.banner{
    height: 362px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.rectangle{
    padding-top: 70px;
    position: relative;
    &::before{
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 212px;
        position: absolute;
        z-index: -1;
        background-color: $primary-color-2;
    }
}