/*********************************
*   Notable Article Section
**********************************/
.notableArticleSection {
    padding: 88px 0px;
    background-color: $white-color-2;

    @include media-breakpoint-up(xxl) {
        padding: 138px 0px;
    }

    .notableArticle {
        display: flex;
        gap: 72px;
        justify-content: space-between;

        .article {
            max-width: 797px;
            display: flex;
            flex-direction: column;
            gap: 16px;


            .smw-icon-calendar {
                :before {
                    font-size: 19px;
                }
            }
        }

        .peopleCard {
            .link__people-text {
                color: $secondary-color-1;

                /* Button Text */
                font-family: $primary-font-regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: -0.014px;
            }

            .button__blue {
                max-width: 245px;
            }
        }
    }
}