/*********************************
*   Notable Cases Section
**********************************/
.notableCasesSection{
    padding: 88px 0px 88px 0px; 
    background-color: $primary-color-2;
    position: relative;
    .row-gap{
        gap: 49px;
        @include media-breakpoint-down(lg) {
            gap: 32px;
        }
    }
    .container-fluid{
        @include media-breakpoint-down(lg) {
            padding: 0;
        }
    }    
    .article{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        @include media-breakpoint-down(lg) {
            padding: 0px 32px;
        }
        &__leftCont{
            @include media-breakpoint-up(lg) {
                max-width: 720px; 
            }
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &__title{
            color: $white-color-1;

            /* H2 */
            font-family: $primary-font-regular;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px; /* 113.333% */
            letter-spacing: -0.3px;
        }
        &__content{
            color: $white-color-1;

            /* Paragraph Text */
            font-family:  $primary-font-regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.016px;
        }
        
    }
    .casesCard{
        border: 1px solid $white-color-1;        
        .link__insight{
            transition: all 0.3s ease-out;
        }
        &:hover{
            background: rgba(255, 255, 255, 0.10);
            .link__insight{
                gap: 16px;
            }
        }
    }
    .notableCasesSlider{
        .caseItem{
            text-decoration: none; 
            @include media-breakpoint-up(lg) {
                max-width: 31.5%;
            }            
        }
        .owl-stage-outer{
            margin: 0px -1px;
        }
        .owl-dots{
            margin: 32px 0 0px 0px;
            .owl-dot{
                &.active{
                    span{
                        background-color: $white-color-1;
                    }
                }
                span{
                    width: 14px;
                    height: 14px;
                    background: $secondary-color-5;
                }
            }
        }
        &.owl-carousel{
            .owl-nav{
                margin-top: 49px;
                button.owl-next,
                button.owl-prev{
                    border: 1px solid $white-color-1; 
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    margin: 0px 12px;
                    transition: all 0.3s ease-out;
                    &:hover{
                        background-color: $secondary-color-4;
                    }
                    .smw-icon-button-right, .smw-icon-button-left{
                        &::before{
                            color: $white-color-1;
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .button__blue{
        @include media-breakpoint-down(lg) {
            margin: 0px 32px;
        }
    }
}