/*********************************
*   People Article Section
**********************************/
.peopleArticleSection{
    padding: 88px 0px;
    background-color: $white-color-2;
    @include media-breakpoint-up(xxl) {
        padding: 138px 0px;
    }
    .peopleArticle{
        display: flex;
        gap: 104px;
        justify-content: space-between; 
        
        .article{
            max-width: 729px;
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 16px;
            
            &__list {
                list-style-type: disc;
                padding-left: 20px;
    
                &-item {
                    color: $primary-color-3;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.016px;
                }
            }
        }
        .peopleCard {
            .link__people-text{
                color: $secondary-color-1;

                /* Button Text */
                font-family: $primary-font-regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 142.857% */
                letter-spacing: -0.014px;
            }
        }
    }
}