/*********************************
*   Testimonial Section
**********************************/
.testimonialSection {
    padding: 88px 0px;
    background-color: $secondary-color-1;
    position: relative;
    margin-top: 57px;

    @include media-breakpoint-down(md) {
        padding: 72px 0px;
        margin-top: 20px;
    }

    .article {
        max-width: 800px;
        margin: 0 auto;

        &__caption {
            color: $white-color-1;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
            letter-spacing: -0.016px;
            text-transform: uppercase;
        }

        &__content {
            color: $white-color-1;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;
            /* 135.714% */
            letter-spacing: -0.28px;
            @include media-breakpoint-down(md) {
                font-family: $primary-font-regular;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.001em;
                text-align: center;
            }
        }
    }

    .owl-carousel {
        .owl-nav {
            margin-top: 0px;

            button.owl-next,
            button.owl-prev {
                border: 1px solid $white-color-1;
                width: 52px;
                height: 52px;
                border-radius: 50%;
                margin: 0px 8px;

                &:hover {
                    background: transparent;
                }

                .smw-icon-button-right,
                .smw-icon-button-left {
                    &::before {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}