/*********************************
*   Background colors
**********************************/

.primary-bg-color-1{
    background-color: $primary-color-1; // #1E2B63;
}
.primary-bg-color-2{
    background-color: $primary-color-2; // #0D1A52;
}

.white-bg-color-2{
    background-color: $white-color-2; // #F1F5FB;
}
.white-bg-color-3{
    background-color: $white-color-3; // #DBEAF9;
}


