.about-us-page{
    &.contentSections{
        @include media-breakpoint-down(md) {
            padding: 43px 0px 88px 0px;
        }
        .article{
            &__title{
                @include media-breakpoint-down(md) {
                    font-size: 32px;
                }
            }
        }
    }

    &.meetourTeam{
        @include media-breakpoint-down(md) {
            padding: 0px 0px 88px 0;
        }
    }

    &.card-section{
        padding: 88px 0px;
        background-color: $white-color-2;
        &.with-bg-curve{
            background:  url('./../images/insight-bottom-left-bg.svg') -10% 100% no-repeat,  url('./../images/insight-top-right-bg.svg') 100% 15% no-repeat;
            background-color: $white-color-2;
        }
    }
    &.testimonialSection{
        &::before{
            background-color: $white-color-2;
        }
        &:after{
            background-color: $white-color-2;
        }
    }
}