.careers-page {
    // &.contentSections {
    //     @include media-breakpoint-down(md) {
    //         padding: 48px 0px 88px 0px;
    //     }

    //     .article {
    //         &__title {
    //             @include media-breakpoint-down(md) {
    //                 font-size: 32px;
    //             }
    //         }

    //         &__content {
    //             color: $primary-color-3;

    //             /* Para Text Large */
    //             font-family: $primary-font-regular;
    //             font-size: 22px;
    //             font-style: normal;
    //             font-weight: 400;
    //             line-height: 30px;
    //             /* 136.364% */
    //             letter-spacing: -0.022px;
    //         }
    //     }
    // }

    .ctaSection {
        padding: 88px 0;

        .workCTA {
            &__content {
                &-title {
                    color: $white-color-1;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 1.068px;
                    text-transform: uppercase;
                    margin-bottom: 16px;

                    @include media-breakpoint-down(sm) {
                        text-align: center;
                    }
                }

                &-content {
                    color: $white-color-1;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px;
                    letter-spacing: -0.3px;

                    @include media-breakpoint-down(md) {
                        text-align: center;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.018px;
                    }
                }
            }

            &__contact {
                max-width: none;

                &-phone {
                    @include media-breakpoint-down(md) {
                        color: $white-color-1;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.32px;
                    }
                }
            }
        }
    }

    .accordian {
        padding: 0;
        background-color: transparent;
    }

    .contentSections {
        .article {
            &__content {
                &-title {
                    color: $primary-color-1;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: -0.22px;

                    @include media-breakpoint-down(md) {
                        font-size: 26px;
                        line-height: 30px;
                        letter-spacing: -0.26px;
                    }
                }
            }
        }
    }
}