.homepage{
    &.insightSection{
        padding: 160px 0px 88px 0px;
        @include media-breakpoint-down(lg) {
            padding: 88px 0px 88px 0px;
        }
    }
    &.notableCasesSection{
        padding: 158px 0px 88px 0px;
        @include media-breakpoint-down(md) {
            padding: 88px 0px 88px 0px;
        }
        
        .article{
            @include media-breakpoint-down(lg) {
                padding: 0 32px; 
            }
            &__title{
                @include media-breakpoint-down(md) {
                    margin-bottom: 24px;
                }
            }
            &__content{
                max-width: 720px;
            }
            .button__outline{
                @include media-breakpoint-down(md) {
                    margin: 32px 0 0 0;  
                }
            }        
        }
        .smw-row{
            @include dynamic-gap(32px);
            @include media-breakpoint-down(md) {
                padding: 0px 32px;
            }
            .col{
                flex: 1 0 auto;
            }    
        }
        .caseItem{
            text-decoration: none;
        }
        .owl-nav{
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        .notableCasesSlider .owl-dots {
            margin: 24px 0 0 0;
        }
    }
}