/*********************************
*  Home Page
**********************************/
.homepage{
    .insightSection{
        padding: 160px 0px 88px 0px;
        @include media-breakpoint-down(lg) {
            padding: 88px 0px 88px 0px;
        }
        .button__blue {
            display: block;
            width: 198px;
            margin: 0 auto;
        }
    }
    .notableCasesSection{
        padding: 158px 0px 88px 0px;
        @include media-breakpoint-down(md) {
            padding: 88px 0px 88px 0px;
        }
        
        .article{
            @include media-breakpoint-down(lg) {
                padding: 0 32px; 
            }
            &__title{
                @include media-breakpoint-down(md) {
                    margin-bottom: 24px;
                }
            }
            &__content{
                max-width: 720px;
            }
            .button__outline{
                @include media-breakpoint-down(md) {
                    margin: 32px 0 0 0;  
                }
            }        
        }
        .smw-row{
            @include dynamic-gap(32px);
            @include media-breakpoint-down(md) {
                padding: 0px 32px;
            }
            .col{
                flex: 1 0 auto;
            }    
        }
        .caseItem{
            text-decoration: none;
        }
        .owl-nav{
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        .notableCasesSlider .owl-dots {
            margin: 24px 0 0 0;
        }
        .smwFilter{
            padding: 0px 0px;
            @include media-breakpoint-down(md) {
                width: 100%;
                padding: 32px 0px 0px 0px;
            }
            .dropdownContainer {
                .dropdownWrapper{
                    width: 249px;
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                    .smw-icon-down-arrow{
                        &::before{
                            color: $secondary-color-1; 
                        }
                    }
                    .smwdropdown__options{
                        width: 300px;
                        @include media-breakpoint-down(sm) {
                            width: 100%;
                        }
                    }
                }
            } 
        }
    }
    .cardGridWrapper{
        .cardGrid{
            .item-1 {   
                @include media-breakpoint-down(md) { 
                    margin-bottom: 64px;
                }
                .article{
                    padding: 88px 0px 0px 0px;
                    &__content{
                        @include media-breakpoint-up(md) { 
                            margin-bottom: 28px;
                        }
                    }
                }
            }
        }
    }
}