/*********************************
*  Insights Page
**********************************/
.insights-page {
    .smwFilter {
        @include media-breakpoint-down(md) {
            padding: 56px 0;
        }
    }

    .contentSections {
        padding: 145px 0 0px 0px;

        @include media-breakpoint-down(md) {
            padding: 88px 0px 0px 0px;
        }

        .smw-icon-dot {
            font-size: 12px;
        }

        .article {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include media-breakpoint-down(md) {
                gap: 32px;
            }


            &__title {
                display: flex;
                align-items: center;
                gap: 24px;

                @include media-breakpoint-down(lg) {
                    font-size: 32px;
                }

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                    align-items: start;
                }
            }

            &__content {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                letter-spacing: -0.016px;
            }
        }
    }

    .caseCardSection {

        .smw-row {
            @include dynamic-gap-xy(48px, 32px);

            @include media-breakpoint-down(sm) {
                @include dynamic-gap-xy(32px, 32px);
            }
        }

        .insightCard {
            background-color: $white-color-1;

            &__body {
                &-title {
                    font-family: $primary-font-regular;
                }
            }
        }
    }
}