/*********************************
*   Notable Case Article Page
**********************************/
.notable-case-article-page{
    .notableArticle{
        .article{
            h3{
                padding-top: 16px;
                color: $primary-color-1;
                font-family: $primary-font-semibold;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px; /* 118.182% */
                letter-spacing: -0.22px; 
            }
            ul{
                padding-left: 20px;
                li{
                    
                    color: $primary-color-3;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.016px;
                    position: relative;
        
                    &::before {
                        content: '';
                        position: absolute;
                        top: 10px;
                        width: 3px;
                        height: 3px;
                        left: -15px;
                        background-color: $primary-color-1;
                        border-radius: 50%;
                    }
                    
                }
            }
        }
    }
    .requestSections  {
        &.white-3-curve-bottom{
            @include media-breakpoint-down(md) {
                &::after{
                    height: 0px; 
                }
            }
        }
    }
    .relatedCases{
        &.smw-mt-curve-fixes{
                    @include media-breakpoint-down(md) {
                    margin-top: 0px;
            }
        }
    }
}