/*********************************
*  Our People Page
**********************************/
.ourPeople-page {
    .banner-content {
        padding: 135px 0 88px;

        @include media-breakpoint-down(md) {
            padding: 88px 0px 0px;
        }

        .article {
            &__title { 
                @include media-breakpoint-down(md) {
                    line-height: 37.57px;
                }
            }

            &__content {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.001em;
                text-align: left;
            }
        }
    }

    .testimonialSection {
        margin-top: 56px;

        &::before {
            background-color: $white-color-3;
        }
    }

    .caseCardSection {
        padding-bottom: 88px;

        @include media-breakpoint-down(md) {
            padding: 88px 0;
        }

        .peopleCard {
            .link__people {
                font-size: 14px;

                &-text {
                    color: $secondary-color-1;
                }

                [class^="smw-icon-"] {
                    &::before {
                        font-size: 18px;
                    }
                }
            }
        }

        .smw-row {
            @include dynamic-gap-xy(48px, 32px);

            @include media-breakpoint-down(sm) {
                @include dynamic-gap-xy(32px, 32px);
            }
        }
    }

    .requestSections {
        padding: 145px 0px 88px 0px;

        @include media-breakpoint-down(md) {
            padding: 88px 0px 88px 0px;
        }
    }
}