.pricingPage {
    .testimonialSection {
        &:before {
            background-color: $white-color-2;
        }

        .article__content {
            @include media-breakpoint-down(md) {
                text-align: center;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.018px;
            }
        }
    }

    .ctaSection {
        padding: 0 0 88px;
    }
}