/*********************************
*  Pricing and Funding Page
**********************************/
.pricingPage {
    .testimonialSection {
        .article{
            max-width: 1004px;
            &__content {
                @include media-breakpoint-down(md) {
                    text-align: center;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: -0.018px;
                }
            }
        }
        &::before, &::after {
            background-color: $white-color-2;
        }

    }

    .ctaSection {
        padding: 0 0 88px;
    }
}